<div class="container">
    <h3 class="mb-3 text-center ">查詢聯絡人</h3>
    <div class ="form-floating mb-3">
        <input id="contactName" class="form-control" placeholder="" />
        <label class="form-label">請輸入聯絡人姓名</label>
    </div>
    <div class="mb-3">
        <div id="result"></div>
    </div>
</div>

@section Scripts {
    <script>
        var baseAddrss="https://localhost:7015";  //Developing
        //var baseAddrss="https://xxxxx";         //Staging
        //var baseAddrss="https://yyyyy";         //Production:客戶、企業、雲端
            $('#contactName').on("keyup", async function(){
            // alert("123");
             try{
                var data =new FormData();
                data.append("FirstName",$("#contactName").val());
                var response = await fetch(`${baseAddrss}/Ajax/CheckName`,{
                    method:"POST",
                    body:data
                });
                if(response.ok){
                    var data= await response.text();
                    if(data=="true"){
                        $('#result').text("查有此人").removeClass("text-danger").addClass("text-success");
                    }else{
                        $('#result').text("查無此人").removeClass("text-success").addClass("text-danger");
                    }
                }
            }
            catch(err){
                alert(err.message);
            }
        });
    </script>
}